@mixin row($gap: 8px, $align: stretch, $justify: flex-start, $wrap: nowrap, $shrink: 0, $grow: 0) {
  display: flex;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-shrink: $shrink;
  flex-grow: $grow;
}



@mixin column($gap: 8px, $align: stretch, $justify: flex-start, $wrap: nowrap, $shrink: 0, $grow: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-shrink: $shrink;
  flex-grow: $grow;
}