:root {
  --text-primary: currentColor;
  --text-secondary: #5a5a5a;

  --background-primary: #ffffff;

  --size-xs: 4px;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;

  --default-radius: var(--size-xs);
}